<!-- seat-booking.component.html -->

<h2>Train Seat Booking</h2>
<p></p>
<div class="main">
  <div class="seats">
    <div *ngFor="let seat of seats; let i = index" [class.booked]="!seat"></div>
  </div>

<div class="booking-form">
  <label for="numSeats">Number of Seats:</label>
  <input type="number" id="numSeats" [(ngModel)]="numSeats" min="1" />
  <button (click)="bookSeats(numSeats)">Book Seats</button>
</div>

<div *ngIf="selectedSeats.length > 0" class="booking-info">
  <p>Booked seats: {{ selectedSeats.join(', ') }}</p>
</div>
</div>