<!-- seat-booking.component.html -->

<h2 class="header">Train Reservation</h2>
<div class="main">
  <!-- <div class="seats">
    <div *ngFor="let seat of seats; let i = index" [class.booked]="!seat">{{ i + 1 }}</div>
  </div> -->

  <div class="seats">
  <div *ngFor="let seat of seats; let i = index" [class.booked]="!seat" (click)="toggleSeat(i)">
    {{ i + 1 }}
  </div>
</div>

  <div class="booking-form">
    <label for="numSeats">Number of Seats:</label>
    <input type="number" id="numSeats" [(ngModel)]="numSeats" min="1" name="numSeats" />

    <button (click)="bookSeats(numSeats)">Book Seats</button>
  </div>

  <div *ngIf="selectedSeats.length > 0" class="booking-info">
    <h2>Booked seats: </h2> <p>{{ selectedSeats.join(', ') }}</p>
  </div>
</div>

